<footer class="footer">
  <div class="content-wrapper footer__wrapper">
    <img class="footer__logo" src="assets/shared/desktop/logo.svg" alt="Audiophile">
    <nav class="footer-nav footer__nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="/">Home</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="headphones.html">Headphones</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="speakers.html">Speakers</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="earphones.html">Earphones</a>
        </li>
      </ul>
    </nav>
    <div class="footer__text">
      <p>Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers and sound specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility - we’re open 7 days a week.</p>
    </div>
    <div class="footer__copy">Copyright 2021. All Rights Reserved</div>
    <div class="footer__socials socials">
      <a class="socials__link" href="#" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Facebook">
        <svg class="icon socials__icon" role="img" aria-hidden="true">
          <title>Facebook</title>
          <use xlink:href="assets/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
      <a class="socials__link" href="#" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Twitter">
        <svg class="icon socials__icon" role="img" aria-hidden="true">
          <title>Twitter</title>
          <use xlink:href="assets/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
      <a class="socials__link" href="#" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Instagram">
        <svg class="icon socials__icon" role="img" aria-hidden="true">
          <title>Instagram</title>
          <use xlink:href="assets/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>

<div class="overlay js-overlay"></div>

<script src="js/main.min.js"></script>
