<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Frontend Mentor | Audiophile e-commerce website</title>

<link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="96x96" href="./assets/favicon-96x96.png">
<link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="512x512" href="./assets/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="192x192" href="./assets/android-chrome-192x192.png">
<link rel="icon" type="image/svg+xml" href="./assets/favicon.svg">
<link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
<link rel="manifest" href="./assets/site.webmanifest">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="./assets/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="styles/styles.min.css" type="text/css">
