<!DOCTYPE html>
<html lang="en">

<head>
  @@include('./includes/_head.html')
</head>

<body>
  <div class="page-layout page-layout--offwhite">
    @@include('./includes/_header.html')
    <main class="main content-wrapper">
      <a class="back-link" href="/">Go back</a>
      <form class="checkout" id="checkout" novalidate>
        <section class="checkout__panel">
          <h4 class="heading heading--h4 checkout__title">Checkout</h4>

          <div class="checkout__group">
            <div class="checkout__caption">Billing details</div>
            <div class="field">
              <label class="field__label" for="name">Name</label>
              <input class="text-field field__input" name="name" id="name" placeholder="E.g. Alex Ward" required autocomplete="name" value="test">
            </div>
            <div class="field">
              <label class="field__label" for="email">Email address</label>
              <input class="text-field field__input" name="email" id="email" placeholder="alex@gmail.com" type="email" required autocomplete="email" value="alex@gmail.com">
            </div>
            <div class="field">
              <label class="field__label" for="phone">Phone number</label>
              <input class="text-field field__input" name="phone" id="phone" placeholder="Phone number" value="+1 202-555-0136" type="tel" required autocomplete="tel">
            </div>
          </div>

          <div class="checkout__group">
            <div class="checkout__caption">Shipping info</div>
            <div class="field field--full-width">
              <label class="field__label" for="address">Address</label>
              <input class="text-field field__input" name="address" id="address" placeholder="E.g. 1137 Williams Avenue" required autocomplete="street-address" value="test">
            </div>
            <div class="field">
              <label class="field__label" for="zip">ZIP code</label>
              <input class="text-field field__input" name="zip" id="zip" placeholder="E.g. 10001" type="number" required autocomplete="postal-code">
            </div>
            <div class="field">
              <label class="field__label" for="city">City</label>
              <input class="text-field field__input" name="city" id="city" placeholder="E.g. New York" required autocomplete="address-level2" value="test">
            </div>
            <div class="field">
              <label class="field__label" for="country">Country</label>
              <input class="text-field field__input" name="country" id="country" placeholder="E.g. United States" required autocomplete="country" value="test">
            </div>
          </div>

          <div class="checkout__group checkout__group--payment">
            <div class="checkout__caption">Payment details</div>
            <div class="field field--radiogroup">
              <div class="field__label">Payment method</div>
              <div class="field__group radiogroup" role="radiogroup">
                <label class="radiogroup__option" for="e-money">
                  <input class="radiogroup__radio js-radio" type="radio" id="e-money" name="payment" value="e-money" checked aria-checked="true" role="radio" aria-labelledby="e-money">
                  <span class="radiogroup__caption">e-Money</span>
                </label>
                <label class="radiogroup__option" for="cash-on-delivery">
                  <input class="radiogroup__radio js-radio" type="radio" id="cash-on-delivery" name="payment" value="cash-on-delivery" aria-checked="false" role="radio" aria-labelledby="cash-on-delivery">
                  <span class="radiogroup__caption">Cash on delivery</span>
                </label>
              </div>
            </div>
            <div class="field js-e-money">
              <label class="field__label" for="e-money-number">e-Money number</label>
              <input class="text-field field__input" name="e-money-number" id="e-money-number" placeholder="E.g. 238521993" type="number" required>
            </div>
            <div class="field js-e-money">
              <label class="field__label" for="e-money-pin">e-money PIN</label>
              <input class="text-field field__input" name="e-money-pin" id="e-money-pin" placeholder="E.g. 6891" type="number">
            </div>
            <div class="checkout__notice-cash js-notice-cash">
              The ‘Cash on Delivery’ option enables you to pay in cash when our delivery courier arrives
              at your residence. Just make sure your address is correct so that your order will not be cancelled.
            </div>
          </div>
        </section>

        <section class="checkout__panel checkout__panel--summary">
          <div class="checkout__subtitle">Summary</div>
          <ul class="cart-list checkout__cart-list">
            <li class="cart-list__item">
              <img class="cart-list__pic" src="assets/cart/image-xx99-mark-two-headphones.jpg" alt="XX99 MK II" loading="lazy"/>
              <div class="cart-list__details">
                <div class="cart-list__title">
                  XX99 MK II
                  <span class="cart-list__qty-text">x1</span>
                </div>
                <div class="cart-list__price">$2,999</div>
              </div>
            </li>

            <li class="cart-list__item">
              <img class="cart-list__pic" src="assets/cart/image-xx59-headphones.jpg" alt="XX59" loading="lazy"/>
              <div class="cart-list__details">
                <div class="cart-list__title">
                  XX59
                  <span class="cart-list__qty-text">x2</span>
                </div>
                <div class="cart-list__price">$899</div>
              </div>
            </li>

            <li class="cart-list__item">
              <img class="cart-list__pic" src="assets/cart/image-yx1-earphones.jpg" alt="YX1" loading="lazy"/>
              <div class="cart-list__details">
                <div class="cart-list__title">
                  YX1
                  <span class="cart-list__qty-text">x1</span>
                </div>
                <div class="cart-list__price">$599</div>
              </div>
            </li>
          </ul>

          <dl class="subtotal">
            <dt class="subtotal__caption">Total</dt>
            <dd class="subtotal__value">$ 5,396</dd>
            <dt class="subtotal__caption">Shipping</dt>
            <dd class="subtotal__value">$ 10</dd>
            <dt class="subtotal__caption">VAT</dt>
            <dd class="subtotal__value">$ 120</dd>
            <dt class="subtotal__caption subtotal__caption--grand">Grand total</dt>
            <dd class="subtotal__value subtotal__value--grand">$ 5,526</dd>
          </dl>

          <button class="button button--primary checkout__btn-pay">Continue & pay</button>
        </section>
      </form>
    </main>
    @@include('./includes/_footer.html')
    <!-- Success Modal -->
    <div class="modal modal--centered js-modal" id="success-modal" style="display: none">
      <div class="order">
        <h3 class="heading heading--h3 order__heading">Thank you for&nbsp;your order</h3>
        <div class="order__text">
          <p>You will receive an email confirmation shortly.</p>
        </div>

        <div class="order__details">
          <div class="order__list">
            <ul class="cart-list order__cart-list">
              <li class="cart-list__item">
                <img class="cart-list__pic cart-list__pic--small" src="assets/cart/image-xx99-mark-two-headphones.jpg" alt="XX99 MK II" loading="lazy"/>
                <div class="cart-list__details">
                  <div class="cart-list__title">
                    XX99 MK II
                    <span class="cart-list__qty-text">x1</span>
                  </div>
                  <div class="cart-list__price">$2,999</div>
                </div>
              </li>
              <li class="cart-list__item">
                <img class="cart-list__pic cart-list__pic--small" src="assets/cart/image-xx59-headphones.jpg" alt="XX59" loading="lazy"/>
                <div class="cart-list__details">
                  <div class="cart-list__title">
                    XX59
                    <span class="cart-list__qty-text">x2</span>
                  </div>
                  <div class="cart-list__price">$899</div>
                </div>
              </li>
              <li class="cart-list__item">
                <img class="cart-list__pic cart-list__pic--small" src="assets/cart/image-yx1-earphones.jpg" alt="YX1" loading="lazy"/>
                <div class="cart-list__details">
                  <div class="cart-list__title">
                    YX1
                    <span class="cart-list__qty-text">x1</span>
                  </div>
                  <div class="cart-list__price">$599</div>
                </div>
              </li>
            </ul>
            <button class="button-link order__show-more" type="button" id="show-more">and 2 other item(s)</button>
          </div>
          <div class="order__total">
            <dl class="subtotal subtotal--order">
              <dt class="subtotal__caption subtotal__caption--order">Grand total</dt>
              <dd class="subtotal__value subtotal__value--order">$ 5,526</dd>
            </dl>
          </div>
        </div>

        <a class="button button--primary order__btn" href="/">Back to home</a>
      </div>
    </div>
    <!-- End success modal -->
  </div>
</body>

</html>
