<!DOCTYPE html>
<html lang="en">

<head>
  @@include('./includes/_head.html')
</head>

<body>
  <div class="page-layout">
    @@include('./includes/_header.html')

    <div class="intro">
      <div class="content-wrapper intro__wrapper">
        <div class="intro__label">New product</div>
        <h1 class="heading heading--h1 intro__title">XX99 Mark II Headphones</h1>
        <div class="intro__text">Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.</div>
        <a class="button button--primary intro__link" href="product-xx99-mark-two-headphones.html">See product</a>
      </div>
    </div>

    <main class="main content-wrapper">
      @@include('./includes/_categories.html')

      <section class="bestsellers">
        <article class="bestsellers__item bestsellers__item--primary">
          <picture>
            <source srcset="assets/home/desktop/image-speaker-zx9.png" media="(min-width: 1025px)"/>
            <source srcset="assets/home/tablet/image-speaker-zx9.png" media="(min-width: 768px)"/>
            <img class="bestsellers__pic" src="assets/home/mobile/image-speaker-zx9.png" alt="ZX9 speaker" loading="lazy"/>
          </picture>
          <div class="bestsellers__details">
            <h4 class="heading heading--h1 bestsellers__title">ZX9 speaker</h4>
            <div class="bestsellers__text">
              <p>Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.</p>
            </div>
            <a class="button button--secondary bestsellers__link" href="product-zx9-speaker.html">See product</a>
          </div>
        </article>
        <article class="bestsellers__item bestsellers__item--secondary">
          <picture>
            <source srcset="assets/home/desktop/image-speaker-zx7.jpg" media="(min-width: 1025px)"/>
            <source srcset="assets/home/tablet/image-speaker-zx7.jpg" media="(min-width: 768px)"/>
            <img class="bestsellers__pic" src="assets/home/mobile/image-speaker-zx7.jpg" alt="ZX7 speaker" loading="lazy"/>
          </picture>
          <div class="bestsellers__details">
            <h4 class="heading heading--h4 bestsellers__title">ZX7 speaker</h4>
            <a class="button button--secondary button--outlined bestsellers__link" href="product-zx7-speaker.html">See product</a>
          </div>
        </article>
        <article class="bestsellers__item bestsellers__item--tertiary">
          <picture>
            <source srcset="assets/home/desktop/image-earphones-yx1.jpg" media="(min-width: 1025px)"/>
            <source srcset="assets/home/tablet/image-earphones-yx1.jpg" media="(min-width: 768px)"/>
            <img class="bestsellers__pic" src="assets/home/mobile/image-earphones-yx1.jpg" alt="YX1 earphones" loading="lazy"/>
          </picture>
          <div class="bestsellers__details">
            <h4 class="heading heading--h4 bestsellers__title">YX1 earphones</h4>
            <a class="button button--secondary button--outlined bestsellers__link" href="product-earphones.html">See product</a>
          </div>
        </article>
      </section>

      @@include('./includes/_about.html')
    </main>
    @@include('./includes/_footer.html')
  </div>
</body>
</html>
