<!DOCTYPE html>
<html lang="en">

<head>
  @@include('./includes/_head.html')
</head>

<body>
<div class="page-layout">
  @@include('./includes/_header.html')
  <main class="main content-wrapper">
    <a class="back-link" href="/">Go back</a>

    <section class="product">
      <div class="product__picture">
        <picture>
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/desktop/image-product.avif" media="(min-width: 1025px)"/>
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/tablet/image-product.avif" media="(min-width: 768px)"/>
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/mobile/image-product.avif"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/desktop/image-product.webp" media="(min-width: 1025px)"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/tablet/image-product.webp" media="(min-width: 768px)"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/mobile/image-product.webp"/>
          <img src="assets/product-xx99-mark-two-headphones/desktop/image-product.jpg" alt="XX99 Mark II Headphones" loading="lazy" decoding="async"/>
        </picture>
      </div>
      <div class="product__details">
        <div class="product__label">New product</div>
        <h2 class="heading heading--h2 product__title">XX99 Mark II Headphones</h2>

        <p>The new XX99 Mark II headphones is the pinnacle of pristine audio. It redefines your premium headphone
          experience by reproducing the balanced depth and precision of studio-quality sound.</p>

        <div class="product__price">$ 2,999</div>
        <div class="product__buy">
          <div class="qty product__qty">
            <input class="qty__field" name="qty" type="number" value="1" min="1" aria-label="Quantity"/>
            <button class="qty__btn qty__btn--decrease" type="button" aria-label="Decrease quantity">-</button>
            <button class="qty__btn qty__btn--increase" type="button" aria-label="Increase quantity">+</button>
          </div>
          <button class="button button--primary product__add">Add to cart</button>
        </div>
      </div>

      <div class="product__info">
        <div class="product__features">
          <h3 class="heading heading--h3 product__heading">Features</h3>
          <p>Featuring a genuine leather head strap and premium earcups, these headphones deliver superior comfort for
            those who like to enjoy endless listening. It includes intuitive controls designed for any situation.
            Whether you’re taking a business call or just in your own personal space, the auto on/off and pause features
            ensure that you’ll never miss a beat.</p>

          <p>The advanced Active Noise Cancellation with built-in equalizer allow you to experience your audio world on
            your terms. It lets you enjoy your audio in peace, but quickly interact with your surroundings when you need
            to. Combined with Bluetooth 5. 0 compliant connectivity and 17 hour battery life, the XX99 Mark II
            headphones gives you superior sound, cutting-edge technology, and a modern design aesthetic.</p>
        </div>

        <div class="product__box">
          <h3 class="heading heading--h3 product__heading product__heading--row">In the box</h3>

          <dl class="kit-list">
            <dt class="kit-list__qty">1x</dt>
            <dd class="kit-list__caption">Headphone unit</dd>
            <dt class="kit-list__qty">2x</dt>
            <dd class="kit-list__caption">Replacement earcups</dd>
            <dt class="kit-list__qty">1x</dt>
            <dd class="kit-list__caption">User manual</dd>
            <dt class="kit-list__qty">1x</dt>
            <dd class="kit-list__caption">3.5mm 5m audio cable</dd>
            <dt class="kit-list__qty">1x</dt>
            <dd class="kit-list__caption">Travel bag</dd>
          </dl>
        </div>
      </div>
      <div class="product__gallery gallery">
        <picture class="gallery__picture">
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/desktop/image-gallery-1.avif" media="(min-width: 1025px)"/>
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/tablet/image-gallery-1.avif" media="(min-width: 768px)"/>
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/mobile/image-gallery-1.avif"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/desktop/image-gallery-1.webp" media="(min-width: 1025px)"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/tablet/image-gallery-1.webp" media="(min-width: 768px)"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/mobile/image-gallery-1.webp"/>
          <img src="assets/product-xx99-mark-two-headphones/desktop/image-gallery-1.jpg" alt="Man wearing headphones" loading="lazy" decoding="async"/>
        </picture>
        <picture class="gallery__picture">
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/desktop/image-gallery-2.avif" media="(min-width: 1025px)"/>
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/tablet/image-gallery-2.avif" media="(min-width: 768px)"/>
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/mobile/image-gallery-2.avif"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/desktop/image-gallery-2.webp" media="(min-width: 1025px)"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/tablet/image-gallery-2.webp" media="(min-width: 768px)"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/mobile/image-gallery-2.webp"/>
          <img src="assets/product-xx99-mark-two-headphones/desktop/image-gallery-2.jpg" alt="Headphones on the coffee table" loading="lazy" decoding="async"/>
        </picture>
        <picture class="gallery__picture">
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/desktop/image-gallery-3.avif" media="(min-width: 1025px)"/>
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/tablet/image-gallery-3.avif" media="(min-width: 768px)"/>
          <source type="image/avif" srcset="assets/product-xx99-mark-two-headphones/mobile/image-gallery-3.avif"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/desktop/image-gallery-3.webp" media="(min-width: 1025px)"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/tablet/image-gallery-3.webp" media="(min-width: 768px)"/>
          <source type="image/webp" srcset="assets/product-xx99-mark-two-headphones/mobile/image-gallery-3.webp"/>
          <img src="assets/product-xx99-mark-two-headphones/desktop/image-gallery-3.jpg" alt="Headphones close view" loading="lazy" decoding="async"/>
        </picture>
      </div>
    </section>

    <section class="featured">
      <h3 class="heading heading--h3 featured__heading">You may also like</h3>

      <ul class="featured__list">
        <li class="featured__item">
          <picture>
            <source type="image/avif" srcset="assets/shared/desktop/image-xx99-mark-one-headphones.avif" media="(min-width: 1025px)"/>
            <source type="image/avif" srcset="assets/shared/desktop/image-xx99-mark-one-headphones.avif" media="(min-width: 768px)"/>
            <source type="image/avif" srcset="assets/shared/desktop/image-xx99-mark-one-headphones.avif"/>
            <source type="image/webp" srcset="assets/shared/desktop/image-xx99-mark-one-headphones.webp" media="(min-width: 1025px)"/>
            <source type="image/webp" srcset="assets/shared/desktop/image-xx99-mark-one-headphones.webp" media="(min-width: 768px)"/>
            <source type="image/webp" srcset="assets/shared/desktop/image-xx99-mark-one-headphones.webp"/>
            <img class="featured__pic" src="assets/shared/desktop/image-xx99-mark-one-headphones.jpg" alt="XX99 Mark I headphones" loading="lazy" decoding="async"/>
          </picture>
          <h5 class="heading heading--h5 featured__title">XX99 Mark I</h5>
          <a class="button button--primary featured__btn" href="product-xx99-mark-one-headphones.html">See product</a>
        </li>

        <li class="featured__item">
          <picture>
            <source type="image/avif" srcset="assets/shared/desktop/image-xx59-headphones.avif" media="(min-width: 1025px)"/>
            <source type="image/avif" srcset="assets/shared/desktop/image-xx59-headphones.avif" media="(min-width: 768px)"/>
            <source type="image/avif" srcset="assets/shared/desktop/image-xx59-headphones.avif"/>
            <source type="image/webp" srcset="assets/shared/desktop/image-xx59-headphones.webp" media="(min-width: 1025px)"/>
            <source type="image/webp" srcset="assets/shared/desktop/image-xx59-headphones.webp" media="(min-width: 768px)"/>
            <source type="image/webp" srcset="assets/shared/desktop/image-xx59-headphones.webp"/>
            <img class="featured__pic" src="assets/shared/desktop/image-xx59-headphones.jpg" alt="XX59 headphones" loading="lazy" decoding="async"/>
          </picture>
          <h5 class="heading heading--h5 featured__title">XX59</h5>
          <a class="button button--primary featured__btn" href="product-xx59-headphones.html">See product</a>
        </li>

        <li class="featured__item">
          <picture>
            <source type="image/avif" srcset="assets/shared/desktop/image-zx9-speaker.avif" media="(min-width: 1025px)"/>
            <source type="image/avif" srcset="assets/shared/desktop/image-zx9-speaker.avif" media="(min-width: 768px)"/>
            <source type="image/avif" srcset="assets/shared/desktop/image-zx9-speaker.avif"/>
            <source type="image/webp" srcset="assets/shared/desktop/image-zx9-speaker.webp" media="(min-width: 1025px)"/>
            <source type="image/webp" srcset="assets/shared/desktop/image-zx9-speaker.webp" media="(min-width: 768px)"/>
            <source type="image/webp" srcset="assets/shared/desktop/image-zx9-speaker.webp"/>
            <img class="featured__pic" src="assets/shared/desktop/image-zx9-speaker.jpg" alt="ZX9 speaker" loading="lazy" decoding="async"/>
          </picture>
          <h5 class="heading heading--h5 featured__title">ZX9 speaker</h5>
          <a class="button button--primary featured__btn" href="product-zx9-speaker.html">See product</a>
        </li>
      </ul>
    </section>

    @@include('./includes/_categories.html')

    @@include('./includes/_about.html')
  </main>
  @@include('./includes/_footer.html')
</div>
</body>

</html>
